
<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs col s12">
    <%= f.input :body, label: 'Japanese message to GoogleHome', wrapper_html: { class: 's12' } %>
  </div>

  <%= f.hidden_field :place, value: place %>

  <div class="form-actions" style="text-align: center">
    <%= f.button :submit, "SUBMIT!!",class: "waves-effect waves-light btn"  %>
  </div>
<% end %>
