<div id="<%= room.name %>" class="col s12" style="padding-top: 50px;"">
	<div class="card">
	    <div class="card-content">
	    	<span class="card-title" style="font-weight: 500; font-size: 35px;"><%= room.name %> GoogleHome</span>
	    	<br>
			<%= render "messages/form_home", room: room %>
	    	<br>
	    	<div class="messages">
	        	<% room.messages.last(5).reverse.each do |message| %>
	        		<div class="message-item">
	    				<div>"<%= message.body %>"</div>
	    				<div style="text-align: right; font-size: 12px;"><%= message.created_at %></div>
	    			</div>
	        	<% end %>
	    	</div>
	    </div>
<!-- 	    <div class="card-action" style="text-align: right;">
	      <a href="#">All Message</a>
	    </div> -->
	</div>
</div>